style.
  body {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  background-color: #f5f4f5;
  }

    table,
    td,
    tr {
      vertical-align: top;
      border-collapse: collapse;
    }

    img{
      max-width: 160px;
      height: auto;
    }

    * {
      line-height: inherit;
    }

    a[x-apple-data-detectors=true] {
      color: inherit !important;
      text-decoration: none !important;
    }


    .table-container {
      width: 100%;
      background-color: #f5f4f5;
    }

    .email-content {
      max-width: 800px;
      margin: 0 auto;
      background-color: #ffffff;
      border-radius: 8px;
    }

    .header {
      padding: 20px;
      text-align: start;
      background-color: #09f;
      width: 100%;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }

    .header img {
      width: 100px;
      height: auto;
      display: block;
    }

    .subtitle{
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      padding: 10px;
      background-color: #94fbab;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }
    .warning-logo{
      width: 50px;
    }
    .greeting{
      width:100%;
      text-align: center;
      padding: 20px;
    }
    .text-content {
      padding: 20px;
      color: #101b24;
      font-family: 'Barlow', Arial, 'Helvetica Neue', Helvetica, sans-serif;
      font-size: 17px;
      text-align: center;
      text-wrap: balance;
    }
    
    .text-content-left{
      text-align: left;
      padding: 20px;
      color: #101b24;
      font-size: 17px;
      text-wrap: balance;
    }

    .text-content strong {
      font-weight: 700;
    }

    .button-block {
      padding: 20px;
      text-align: center;
    }

    .button-block a {
      text-decoration: none;
      display: inline-block;
      color: #ffffff;
      background-color: #09f;
      border-radius: 8px;
      padding: 10px 20px;
      font-weight: 400;
      font-family: 'Barlow', Arial, 'Helvetica Neue', Helvetica, sans-serif;
      font-size: 17px;
      text-align: center;
    }

    .footer {
      padding: 20px;
      text-align: center;
      color: #101b24;
      font-family: 'Barlow', Arial, 'Helvetica Neue', Helvetica, sans-serif;
      font-size: 17px;
    }

    .footer strong {
      font-weight: 700;
    }

    .divider {
      width: 100%;
      border-top: 1px dashed #dee0e2;
      margin: 20px 0;
    }

    .social-links {
      padding: 20px;
      text-align: center;
    }

    .social-links img {
      height: 32px;
      width: 32px;
      margin: 0 7px;
    }

    .unsubscribe {
      text-align: center;
      font-size: 17px;
    }

    .unsubscribe a {
      text-decoration: underline;
      color: #1ab394;
    }
    .apple-link{
      font-size: 17px;
    }