doctype html
html
    head
        meta(name='viewport', content='width=device-width')
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title= subject

        include _style
    body
        // CONTENT
        block content

// START FOOTER
.footer
    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td.content-block
                    | Moon Valley Yours, Address Here
                    br
                    | Don't like these emails?
                    a(href='#') Unsubscribe
//- td  