extends baseEmail

block content
    body
    table.table-container
      tr
        td
          table.email-content
            tr
              td.header
                img(src="https://res.cloudinary.com/brianzenhom/image/upload/c_fill,w_1000/v1721670506/MoonValleyLogo_e987ij.png" data-imagetype="External" alt="Logo")
            tr
              td.subtitle
                img.warning-logo(src="https://res.cloudinary.com/brianzenhom/image/upload/t_smaller/v1721685409/warninglogopng_dk5qrr.png")
                p #{firstName}, reset your password
            tr
              td.text-content
                | Forgot your password? No worries!
                br
                | Click the button below and create a new one.
            tr
              td.button-block
                a(href="https://example.com" target="_blank") Reset your password
            tr
              td.footer
                | <strong>Best Regards,</strong>
                br
                | Moon Valley Tours
                br
                br
                .divider
                | Follow us on social media:
                br
                .social-links
                  a(href="https://facebook.com/moonvalleytours" target="_blank")
                    img(src="https://res.cloudinary.com/brianzenhom/image/upload/t_smaller/v1713659892/k3xjnwssotfmygtilkn2.svg" alt="Facebook")
                  a(href="https://instagram.com/moonvalleytours" target="_blank")
                    img(src="https://res.cloudinary.com/brianzenhom/image/upload/t_smaller/v1713659824/mpx24hgoroqsuaonygem.svg" alt="Instagram")