doctype html
html
  head
    title MoonValleyTours | RESTful API
    link(rel='stylesheet', href='/css/style.css')
    link(rel='shortcut icon', type='image/png', href='img/favicon.png')

  body
    strong Moon Valley Tours
    a(href='https://brianzenhom.dev' target='_blank') Brian Zenhom website
    

