extends base

block content
  main.main
    .login-form
      span.heading-secondary Sign In
      form.form.form--login
        .form__group
          input#email.form__input(title="name@example.com" pattern="[a-zA-Z0-9._-]+@[a-zA-Z0-9 -]+.[a-z]{2,}" type='email', placeholder='name@example.com', required)
          label.form__label(for='email') Email
        .form__group
          input#password.form__input(title="Must be at least 8 characters" pattern="[a-zA-Z0-9!@]{8,}" type='password', placeholder='At least 8 characters', required, minlength='8')
          label.form__label(for='password') Password
        small remember me
        .form__button
          button.btn.btn--main(type="submit") Login