:root {

    --background-color: #f3f3f3;
    --border-size: 2px;
    --accent-color: #0197ee;
    --valid: #0197ee;
    --invalid: crimson;
    --focus: #004e7a;
    --blur: #cccbcb;
    --padding: 0.675rem;

   --base: hsl(var(--tint, 214) 80% 27% / calc(var(--alpha, 4) * 1%));
  /**
    * Use relative syntax to get to: hsl(221 25% 22% / 40%)
  */
  --shade: hsl(from var(--base) calc(h + 8) 25 calc(l - 5));
  --perfect-shadow:
    0 0 0 1px var(--base),
    0 1px 1px -0.5px var(--shade),
    0 3px 3px -1.5px var(--shade),
    0 6px 6px -3px var(--shade),
    0 12px 12px -6px var(--base),
    0 24px 24px -12px var(--base);
}

body{
    font-family: Onest;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    padding: 0;
    background-color: rgba(245, 245, 255, 0.904);
}

main{
    height: 100vh;   
    display: grid;
    place-items: center;
}

.heading-secondary{
    margin-bottom: 1rem;
}

.login-form{
    min-width: 300px;
    padding: 1.5rem 1.5rem;
    border-radius: 8px;
    box-shadow: var(--perfect-shadow);
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form__group{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 2rem;
    position: relative;
}

::placeholder{
    color: transparent;
}

.form__group:has(:invalid) input{
    outline: 2px solid var(--invalid);
}

.form__group:has(:invalid) label{
    top: -20px;
    left: 0px;
    font-size: 12px;
    color: var(--invalid);
}

.form__group:has(:invalid:not(:focus)){
    animation: shake .8s;
}

.form__group:has(:focus) input{
    outline: 2px solid var(--focus);
}

.form__group:focus input {
    outline-offset: 5px;
}

.form__group:has(:valid) input{
    outline: 2px solid var(--valid);
}

.form__group:has(:valid) label{
    top: -20px;
    left: 0px;
    font-size: 12px;
    color: var(--accent-color);
}

.form__group:has(:placeholder-shown) input{
    outline: 2px solid var(--blur);
}
.form__group:has(:placeholder-shown:not(:focus)) {
    animation: none;
}

.form__group label{
    position: absolute;
    font-size: 12px;
    color: #727272;
    cursor: text;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    user-select: none;
}

.form__group:has(:placeholder-shown) label{
    font-size: 16px;
}

.form__group:has(:focus) label{
    top: -20px;
    left: 0px;
    font-size: 12px;
}

.form__group:has(:placeholder-shown:not(:focus)) label{
    top: 13px;
    left: 10px;
}


.form__button{
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
}

.form__input{
    outline: none;
    border: none;
    padding: calc(var(--padding)* 1.25) 1rem;
    outline: 1px solid var(--color);
    background-color: var(--background-color);
    border-radius: 8px;
    overflow: hidden;
    font-size: 16px;
    font-family: Onest;
}


.btn--main{
    position: relative;
    padding: calc(var(--padding)* 1.25) 1rem;
    border-radius: 8px;
    border: none;
    outline: 2px solid hsl(175, 10%, 70%);
    z-index: 1;
    background-color:hsla(176, 10%, 30%, 0.61) ;
    color: hsl(175, 10%, 70%);
    overflow: hidden;
    font-weight: 500;
    font-size: 18px;
    transition: .3s cubic-bezier(0.39, 0.575, 0.565, 1);
    cursor: pointer;

}



form:valid [type="submit"]{
    background-color: #0197ee;
    color: white;
    outline-color: transparent;
}

@keyframes shake{
    0%, 100% {
        transform: translateX(0);
    } 
    20%, 40%, 60%, 80%{
        transform: translateX(-1%);
    }
    10%,30%,50%,70%, 90%{
        transform: translateX(1%);
    }
}
